
.container {
    margin: 0;
    display: grid;
    grid-template-columns: 450px  600px 450px;
    grid-template-rows: 200px 500px 500px 500px ;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "ads section article"
                         "footer footer footer";
    
}

.header {
    grid-area: header;
    background-color:white; 
}

.nav {
    display: grid;
    grid-area: nav;
    background-color: gray; 
}

#links {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    grid-gap: 20px;
    align-content: flex-start;
}

#logo {
    display: grid;
    justify-content: flex-start;
    max-width: 40px;
    
    
}

a:hover {
    color: red;
}

.section {
    grid-area: section;
    background-color: purple;
}

.article {
    grid-area: article;
    background-color: blue;
}

.footer {
    grid-area: footer;
    background-color: orange;
}

