body {
    background-color: plum;
}

.container {
    margin: 0;
    display: grid;
    grid-template-columns: 450px  600px 450px;
    grid-template-rows: 200px 500px 500px 500px ;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "ads section article"
                         "footer footer footer";
    
}

.header {
    grid-area: header;
    background-color:white; 
}

.nav {
    grid-area: nav;
    background-color:red; 
}

.section {
    grid-area: section;
    background-color: yellow;
}

.article {
    grid-area: article;
    background-color: blue;
}

.footer {
    grid-area: footer;
    background-color: orange;
}

